* {
  border: 1px solid gold;
}


body, header {
  text-align: center;
}

.displayContainer {
  display:flex ;
justify-content: space-evenly;
}

.displayStatus, .gameDisplay {
  border : 1px solid black;
  border-color: black;
}

.displayStatus, .displayContainer, .dicePic{
  margin: 15px 0px ;
}


.gameBoard {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row-reverse; */
}

.square {

  width: 60px;
  height: 60px;
  /* flex-basis: 30px; */
  /* display: flex; */
  /* align-items: ; */
  justify-content: center;
  border: 1px, solid black;
  /* position:fixed; */
  left:10px;
  /* text-align: right; */
}
/*  */
.num {
  position: relative;
  left:20px;
  top: 40px;
}

.container {
  width: 450px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

/* .row3,  */
.row1, .row3, .row5, .row7,.row9{
  display: flex;
  /* flex-direction: row-reverse; */
}

/* .row4, .row6, .row8, .row10 */
.row2, .row4, .row6, .row8, .row10{
  display: flex;
  flex-direction: row-reverse;
}

.x {
  background: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: relative;
  bottom: 15px;
}

.xo {
  background:blue;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: relative;
  bottom: 15px;
}


.ladder1 {
  position: relative;
  top:700px;
  right:14px;
  height: 70px;
  transform: scaleY(2);
}

.ladder2 {
  position: relative;
  top:280px;
  right:40px;
  height: 100px;
  transform: rotate(-40deg)scaleY(1.8);
  /* transform: scaleY(2); */
}

.ladder3 {
  position: relative;
  top:460px;
  left:80px;
  height: 100px;
  transform: rotate(50deg)scaleY(2.3);
}